<!--The content below is only a placeholder and can be replaced.-->
<h1>Welcome to Kendo UI</h1>
<div style="text-align:center">
  <img src="imgs/kendoui.png">
</div>

<chart-component></chart-component>
<buttons-example></buttons-example>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<dropdown-example></dropdown-example>
<grid-example></grid-example>
<layout-example></layout-example>
<popup-example></popup-example>
<!--
<dialog-example></dialog-example> -->
<date-input-example></date-input-example>
<input-example></input-example>
<sortable-example></sortable-example>
<upload-example></upload-example>
